.albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

.back-btn {
  display:block;
  margin:auto;
  padding: 10px 20px;
  background-color: #3498db; /* Background color */
  color: #fff; /* Text color */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

/* Change button background color on hover */
.back-btn:hover {
  background-color: #2980b9;
}

.album-text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}